<div class="app-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
        <div class="app-header-item">Vitamins</div>
        <div class="app-header-item">DNA</div>
        <div class="app-header-item">Blood</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <h1>Vitl</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <div class="app-header-item">Register Kit</div>
        <div class="app-header-item">Science</div>
        <div class="app-header-item">Account</div>
    </div>
</div>
